<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form" ngNativeValidate #form>
				<span class="login100-form-logo">
					<i class="zmdi zmdi-account"></i>
				</span>

				<span class="login100-form-title">
					Log in
				</span>

				<div class="wrap-input100">
					<input class="input100" type="text" name="email" placeholder="Email" required [formControl]="email">
					<span class="focus-input100" data-placeholder="&#xf15a;"></span>
					<i class="fas fa-envelope"></i>
				</div>

				<div class="wrap-input100">
					<input class="input100" type="password" name="pass" placeholder="Password" required [formControl]="password">
					<span class="focus-input100" data-placeholder="&#xf191;"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" (click)="form.checkValidity()? login() : null">
						Login
					</button>
				</div>

				<div class="registerLink text-center text-white">
					Don't have an account? 
					<a class="txt1" href="/register">Register here</a>
				</div>
			</form>
		</div>
	</div>
</div>