<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-center">{{userInfo?.email}}</div>
    <p class="text-center">role: {{userInfo?.role}}</p>
    <div class="list-group list-group-flush">
      <a href="/dashboard/test" class="list-group-item list-group-item-action bg-light">Colleges</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Filled Applications</a>
      <a class="list-group-item list-group-item-action bg-light" (click)="logout()">Log out</a>
    </div>
</div>